body{
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: #000000;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    padding: 10pt;
}
.restaurantName{
    display: flex;
    background-color: #97979799;
    padding: 10pt;
    text-align: center;
    
}
#restaurantLogo{
    width: 100px;
    height: 100px;
    margin: 10pt;
    border-radius: 50%;
    border: 2px outset rgb(0, 0, 0);
}
#restaurantText{
    margin: 10pt;
    text-align: left;
}

.card{
    border: 5px outset rgb(0, 0, 0);
    text-align: left;
    padding: 10pt;
    margin: 2pt;
}